<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goldfish</title>
    <link rel="stylesheet" href="/static/pure-min.css">
    <link rel="stylesheet" href="/static/typicons/typicons.min.css">
    <link rel="stylesheet" href="/static/goldfish.css">
</head>

<body>
    <div id="header"></div>
    <div id="content"></div>
    <script type="text/javascript" src="/static/goldfish.js"></script>
    <script type="text/javascript">
        function boot(){
            var applicationJson = {{application|tojson}};
            window.goldfish.start(applicationJson);
        }
        boot();
    </script>
</body>
</html>